[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"

[packages]
luigi = "*"
gokart = ">=0.1.8"
pandas = "*"
scipy = "*"
numpy = "*"
gensim = "*"
scikit-learn = "*"
tensorflow = "*"
tqdm = "*"
optuna = "==0.6.0"
xgboost = "*"
boto = "*"
pyyaml = ">=4.2b1"  # for security reason (you can remove if dependent libraries are updated)

[requires]
python_version = "3.6.7"
