[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"

[packages]
luigi = "*"
gokart = "*"
pandas = "*"
scipy = "*"
numpy = "*"
gensim = "*"
scikit-learn = "*"
tensorflow = "*"
tqdm = "*"
optuna = "==0.6.0"
xgboost = "*"
boto = "*"

[requires]
python_version = "3.6.7"
